$color-international-orange: #ff5000;

$color-international-orange-tint-10: #ff621a;
$color-international-orange-tint-20: #ff7333;
$color-international-orange-tint-30: #ff854d;
$color-international-orange-tint-40: #ff9666;
$color-international-orange-tint-50: #ffa880;
$color-international-orange-tint-60: #ffb999;
$color-international-orange-tint-70: #ffcbb3;
$color-international-orange-tint-80: #ffdccc;
$color-international-orange-tint-90: #ffeee6;

$color-international-orange-shade-10: #e64800;
$color-international-orange-shade-20: #cc4000;
$color-international-orange-shade-30: #b33800;
$color-international-orange-shade-40: #993000;
$color-international-orange-shade-50: #802800;
$color-international-orange-shade-60: #662000;
$color-international-orange-shade-70: #4c1800;
$color-international-orange-shade-80: #331000;
$color-international-orange-shade-90: #190800;

$color-chinese-black: #0e0815;

$color-chinese-black-tint-10: #26212c;
$color-chinese-black-tint-20: #3e3944;
$color-chinese-black-tint-30: #56525b;
$color-chinese-black-tint-40: #6e6b73;
$color-chinese-black-tint-50: #87848a;
$color-chinese-black-tint-60: #9f9ca1;
$color-chinese-black-tint-70: #b7b5b9;
$color-chinese-black-tint-80: #cfced0;
$color-chinese-black-tint-90: #e7e6e8;

$color-chinese-black-shade-10: #0d0713;
$color-chinese-black-shade-20: #0b0611;
$color-chinese-black-shade-30: #0a060f;
$color-chinese-black-shade-40: #08050d;
$color-chinese-black-shade-50: #07040b;
$color-chinese-black-shade-60: #060308;
$color-chinese-black-shade-70: #040206;
$color-chinese-black-shade-80: #030204;
$color-chinese-black-shade-90: #010102;

$color-jungle-green: #1ab394;

$color-jungle-green-tint-10: #31bb9f;
$color-jungle-green-tint-20: #48c2a9;
$color-jungle-green-tint-30: #5fcab4;
$color-jungle-green-tint-40: #76d1bf;
$color-jungle-green-tint-50: #8dd9ca;
$color-jungle-green-tint-60: #a3e1d4;
$color-jungle-green-tint-70: #bae8df;
$color-jungle-green-tint-80: #d1f0ea;
$color-jungle-green-tint-90: #e8f7f4;

$color-jungle-green-shade-10: #17a185;
$color-jungle-green-shade-20: #158f76;
$color-jungle-green-shade-30: #127d68;
$color-jungle-green-shade-40: #106b59;
$color-jungle-green-shade-50: #0d5a4a;
$color-jungle-green-shade-60: #0a483b;
$color-jungle-green-shade-70: #08362c;
$color-jungle-green-shade-80: #05241e;
$color-jungle-green-shade-90: #03120f;
