@import "/src/styles/colors";

$theme-color-primary: $color-international-orange !default;
$theme-color-background: $color-chinese-black !default;

$theme-dark-text: $color-international-orange-tint-90 !default;
$theme-color-hover: $color-international-orange-tint-90 !default;
