@import "/src/styles/colors";

$color-background: $color-chinese-black !default;
$color-primary: $color-international-orange !default;

$theme-dark-text: $color-international-orange-tint-90 !default;
