@import "./themes/alex-dark-theme";

.App {
  background-color: $color-background;
  text-align: center;
  color: $color-primary;

  > div {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin-bottom: 0;
  }
  h6 {
    margin: -2px 0 0 0;
    text-align: right;
    width: 21rem;
  }
}
